# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environment / config
.env
*.env

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VSCode
.vscode/

# Testing / coverage
.coverage
htmlcov/
.tox/
.cache/
pytest_cache/
